@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

body {
  margin: 0;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  color: azure;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover{
  cursor: pointer;
}